.icon {
  background-repeat: no-repeat;
  background-position: center;

  &.icon-hamburger {
    background-image: url('../images/ico-menu.svg');
    width: rem(16);
    height: rem(14);
  }

  &.icon-star {
    padding: rem(5);
    color: $color-secondary;
  }
}
