<aside class="aside js-aside">
  <i class="icon icon-close fas fa-times js-close"></i>
  <div class="logo__container">
    <img
      src="./assets/images/logo.png"
      alt="Masopego Series logo"
      class="logo__container--img"
    />
  </div>
  <h2 class="title title--separator">
    <span><i class="icon icon-star fas fa-star"></i>Mi Colección</span>
  </h2>
  <div class="js-favourite__container">
    <div class="container__collection">
      <h2 class="collection__title title capitalize">La lista está vacía</h2>
      <p class="collection__text">
        Inicia la búsqueda para agregar series a esta lista.
      </p>
      <div class="collection__link button button--contain">
        <a
          href="#userSearch"
          class="error__link--contain uppercase js-error--link"
        >
          ok
        </a>
      </div>
    </div>
  </div>
  <button
    type="reset"
    class="button button--remove js-reset__button uppercase"
    disabled
  >
    eliminar lista
  </button>
</aside>
