<aside class="aside js-aside">
<i class="icon icon-close fas fa-times js-close"></i>
    <div class="logo__container">
      <img
        src="./assets/images/"
        alt="Masopego Series logo"
        class="image__container--img"
      />
    </div>
    <h2 class= "title title--separator"><span><i class="icon icon-star fas fa-star"></i>Mi Colección</span></h2>
    <div class="js-favourite__container"></div>
    <button type="reset" class=" button button--remove js-reset__button uppercase" disabled>eliminar lista</button>
</aside>
