<header class="header">
  <div class="wrapper">
    <nav class="header__menu js-hamburger">
      <span class="header__menu--icon icon icon-hamburger"></span>
    </nav>
    <div class="header__search">
      <form method="GET" action="" class="search__parent">
          <input
            class="js-search__form uppercase search__form"
            type="text"
            id="userSearch"
            name="userSearch"
            placeholder="Búsqueda"
          />
        <button class="js-search__button button button--search" type="submit">
          <i class="icon icon--search fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</header>
