<header class="header">
  <div class="wrapper">
    <nav class="header__menu">
      <span class="header__menu--icon icon icon-hamburger"></span>
    </nav>
    <div class="header--search">
      <form method="GET" action="">
        <label for="userSearch">
          Buscador de series
          <input
            class="js-search__form"
            type="text"
            id="userSearch"
            name="userSearch"
            placeholder="Búsqueda"
          />
        </label>
        <button class="js-search__button" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</header>
