<main class="main">
  <div class="wrapper">
    <section class="main__container js-search__container">
      <div class="welcome__container">
        <h1 class="title title--main uppercase">
          bienvenida <span>a</span> <span>masopego series</span>
        </h1>
        <blockquote class="blockquote">
          Guarda tus series favoritas de todos los tiempos y crea tu propia
          lista personalizada
        </blockquote>
        <div class="container__button">
          <div class="star__link button button--contain">
            <a
              href="#userSearch"
              class="star__link--contain uppercase js-on--link"
            >
              comenzar
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class="js-search-scrolled container__search">
      <a href="#userSearch" class="link__search">
        <i class="icon icon--onsearch fas fa-search"></i>
      </a>
    </div>
  </div>
</main>
