// Breakpoints

$tablet: 768px;
$display: 1280px;

/* FONT SIZES */

$font-regular: 16;

/* FONT FAMILY */

/* COLORS */

$color-light: #fbfcfc;
$color-medium: #d5d8dc;
$color-dark: #17202a;
$color-main: #fef9e7;
$color-secondary: #f39c12;
$color-tertiary: #af601a;
