.header {
  background-color: $color-dark;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__menu {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    border-radius: rem(5);

    @include tablet {
      display: none;
    }
  }

  &__search {
    padding: rem(10) rem(20);
    background-color: $color-medium;
    border-radius: rem(10);
    width: 50%;

    @include tablet {
      width: 80%;
    }

    & .search__parent {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .search__form {
        border: none;
        background-color: $color-medium;
        width: 100%;
      }
    }
  }
}
