.main {
  margin-top: rem(20);
  height: 100vh;

  &--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  & .list__element {
    display: inline-block;
    margin: rem(15);
    border-radius: rem(5);
    cursor: pointer;

    & .title {
      text-align: center;
      margin-top: rem(10);
    }
  }
}

.list__container {
  position: relative;

  &--icon {
    position: absolute;
    top: rem(10);
    left: rem(5);
    font-size: $font-regular;
    transition: font-size 0.2s ease-in, color 0.2s ease-in;
  }

  &--image {
    border: 3px solid $color-light;
  }
}

.js-selected {
  & .list__container--image {
    box-shadow: rem(2) rem(1) rem(25) rem(-2) rgba(23, 32, 42, 1);
    box-sizing: border-box;
    border: 3px solid $color-extra-light;
  }

  & .icon-star {
    color: $color-secondary;
    font-size: $font-extra-medium;
  }
  & .title {
    color: $color-secondary;
    text-decoration: none;
  }
}
