html {
  font-size: $font-regular;
}

.wrapper {
  padding: rem(15);

  @include tablet {
    padding: rem(30);
  }

  @include display {
    padding: rem(45);
  }
}

.page {
  @include tablet {
    margin-left: rem(320);
  }
}
